{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAI API",
    "version": "2.3.0"
  },
  "servers": [
    {
      "url": "https://api.openai.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "in": "header"
      }
    },
    "schemas": {
      "ItemReferenceParam": {
        "properties": {
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": ["item_reference"],
                "description": "The type of item to reference. Always `item_reference`.",
                "default": "item_reference"
              },
              {
                "type": "null"
              }
            ]
          },
          "id": {
            "type": "string",
            "description": "The ID of the item to reference."
          }
        },
        "type": "object",
        "required": ["id"],
        "title": "Item reference",
        "description": "An internal identifier for an item to reference."
      },
      "ReasoningSummaryContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["summary_text"],
            "description": "The content type. Always `summary_text`.",
            "default": "summary_text"
          },
          "text": {
            "type": "string",
            "maxLength": 10485760,
            "description": "The reasoning summary text."
          }
        },
        "type": "object",
        "required": ["type", "text"]
      },
      "ReasoningContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["reasoning_text"],
            "description": "The type of the reasoning text. Always `reasoning_text`.",
            "default": "reasoning_text"
          },
          "text": {
            "type": "string",
            "maxLength": 10485760,
            "description": "The reasoning text from the model."
          }
        },
        "type": "object",
        "required": ["type", "text"]
      },
      "ReasoningItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this reasoning item.",
                "example": "rs_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["reasoning"],
            "description": "The item type. Always `reasoning`.",
            "default": "reasoning"
          },
          "summary": {
            "items": {
              "$ref": "#/components/schemas/ReasoningSummaryContentParam"
            },
            "type": "array",
            "description": "Reasoning summary content associated with this item."
          },
          "content": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ReasoningContentParam"
                },
                "type": "array",
                "description": "Reasoning content for this item."
              },
              {
                "type": "null"
              }
            ]
          },
          "encrypted_content": {
            "anyOf": [
              {
                "type": "string",
                "description": "An encrypted representation of the reasoning content."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "summary"]
      },
      "CompactionSummaryItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the compaction item.",
                "example": "cmp_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["compaction"],
            "description": "The type of the item. Always `compaction`.",
            "default": "compaction"
          },
          "encrypted_content": {
            "type": "string",
            "maxLength": 10485760,
            "description": "The encrypted content of the compaction summary."
          }
        },
        "type": "object",
        "required": ["type", "encrypted_content"],
        "title": "Compaction item",
        "description": "A compaction item generated by the [`v1/responses/compact` API](/docs/api-reference/responses/compact)."
      },
      "FileCitationParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["file_citation"],
            "description": "The citation type. Always `file_citation`.",
            "default": "file_citation"
          },
          "index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the file in the list of files."
          },
          "file_id": {
            "type": "string",
            "description": "The ID of the file.",
            "example": "file-123"
          },
          "filename": {
            "type": "string",
            "description": "The filename of the file cited."
          }
        },
        "type": "object",
        "required": ["type", "index", "file_id", "filename"]
      },
      "UrlCitationParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["url_citation"],
            "description": "The citation type. Always `url_citation`.",
            "default": "url_citation"
          },
          "start_index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the first character of the citation in the message."
          },
          "end_index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the last character of the citation in the message."
          },
          "url": {
            "type": "string",
            "description": "The URL of the cited resource."
          },
          "title": {
            "type": "string",
            "description": "The title of the cited resource."
          }
        },
        "type": "object",
        "required": ["type", "start_index", "end_index", "url", "title"]
      },
      "ContainerFileCitationParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["container_file_citation"],
            "description": "The citation type. Always `container_file_citation`.",
            "default": "container_file_citation"
          },
          "start_index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the first character of the citation in the message."
          },
          "end_index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the last character of the citation in the message."
          },
          "container_id": {
            "type": "string",
            "description": "The ID of the container.",
            "example": "cntr_123"
          },
          "file_id": {
            "type": "string",
            "description": "The ID of the container file.",
            "example": "cfile_123"
          },
          "filename": {
            "type": "string",
            "description": "The filename of the container file cited."
          }
        },
        "type": "object",
        "required": [
          "type",
          "start_index",
          "end_index",
          "container_id",
          "file_id",
          "filename"
        ]
      },
      "OutputTextContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["output_text"],
            "description": "The content type. Always `output_text`.",
            "default": "output_text"
          },
          "text": {
            "type": "string",
            "maxLength": 10485760,
            "description": "The text content."
          },
          "annotations": {
            "oneOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/FileCitationParam"
                },
                "type": "array"
              },
              {
                "items": {
                  "$ref": "#/components/schemas/UrlCitationParam"
                },
                "type": "array"
              },
              {
                "items": {
                  "$ref": "#/components/schemas/ContainerFileCitationParam"
                },
                "type": "array"
              }
            ],
            "description": "Citations associated with the text content."
          }
        },
        "type": "object",
        "required": ["type", "text"]
      },
      "RefusalContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["refusal"],
            "description": "The content type. Always `refusal`.",
            "default": "refusal"
          },
          "refusal": {
            "type": "string",
            "maxLength": 10485760,
            "description": "The refusal text."
          }
        },
        "type": "object",
        "required": ["type", "refusal"]
      },
      "AssistantMessageItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this message item.",
                "example": "msg_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "The item type. Always `message`.",
            "default": "message"
          },
          "role": {
            "type": "string",
            "enum": ["assistant"],
            "description": "The role of the message author. Always `assistant`.",
            "default": "assistant"
          },
          "content": {
            "oneOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/OutputTextContentParam"
                    },
                    {
                      "$ref": "#/components/schemas/RefusalContentParam"
                    }
                  ],
                  "description": "A piece of assistant message content, such as text or a refusal.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array"
              },
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "The message content, as a single string."
              }
            ],
            "description": "The message content, as an array of content parts."
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the message item."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "role", "content"]
      },
      "InputTextContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_text"],
            "description": "The type of the input item. Always `input_text`.",
            "default": "input_text"
          },
          "text": {
            "type": "string",
            "maxLength": 10485760,
            "description": "The text input to the model."
          }
        },
        "type": "object",
        "required": ["type", "text"],
        "title": "Input text",
        "description": "A text input to the model.",
        "x-unionDisplay": "section",
        "x-unionTitle": "Content Type"
      },
      "DeveloperMessageItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this message item.",
                "example": "msg_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "The item type. Always `message`.",
            "default": "message"
          },
          "role": {
            "type": "string",
            "enum": ["developer"],
            "description": "The message role. Always `developer`.",
            "default": "developer"
          },
          "content": {
            "oneOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InputTextContentParam"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array"
              },
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "The message content, as a single string."
              }
            ],
            "description": "The message content, as an array of content parts."
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the message item."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "role", "content"]
      },
      "SystemMessageItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this message item.",
                "example": "msg_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "The item type. Always `message`.",
            "default": "message"
          },
          "role": {
            "type": "string",
            "enum": ["system"],
            "description": "The message role. Always `system`.",
            "default": "system"
          },
          "content": {
            "oneOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InputTextContentParam"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array"
              },
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "The message content, as a single string."
              }
            ],
            "description": "The message content, as an array of content parts."
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the message item."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "role", "content"]
      },
      "DetailEnum": {
        "type": "string",
        "enum": ["low", "high", "auto"],
        "x-enumDescriptions": {
          "auto": "Choose the detail level automatically.",
          "high": "Allows the model to \"see\" a higher-resolution version of the image, usually increasing input token costs.",
          "low": "Restricts the model to a lower-resolution version of the image."
        }
      },
      "InputImageContentParamAutoParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_image"],
            "description": "The type of the input item. Always `input_image`.",
            "default": "input_image"
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 20971520,
                "description": "The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL."
              },
              {
                "type": "null"
              }
            ]
          },
          "file_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the file to be sent to the model.",
                "example": "file-123"
              },
              {
                "type": "null"
              }
            ]
          },
          "detail": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ImageDetail"
                  },
                  {
                    "description": "The detail level of the image to be sent to the model. One of `high`, `low`, or `auto`. Defaults to `auto`."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"],
        "title": "Input image",
        "description": "An image input to the model. Learn about [image inputs](/docs/guides/vision)"
      },
      "InputFileContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_file"],
            "description": "The type of the input item. Always `input_file`.",
            "default": "input_file"
          },
          "file_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the file to be sent to the model.",
                "example": "file-123"
              },
              {
                "type": "null"
              }
            ]
          },
          "filename": {
            "anyOf": [
              {
                "type": "string",
                "description": "The name of the file to be sent to the model."
              },
              {
                "type": "null"
              }
            ]
          },
          "file_data": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 33554432,
                "description": "The base64-encoded data of the file to be sent to the model."
              },
              {
                "type": "null"
              }
            ]
          },
          "file_url": {
            "anyOf": [
              {
                "type": "string",
                "description": "The URL of the file to be sent to the model."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"],
        "title": "Input file",
        "description": "A file input to the model."
      },
      "UserMessageItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this message item.",
                "example": "msg_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "The item type. Always `message`.",
            "default": "message"
          },
          "role": {
            "type": "string",
            "enum": ["user"],
            "description": "The message role. Always `user`.",
            "default": "user"
          },
          "content": {
            "oneOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InputTextContentParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputImageContentParamAutoParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputFileContentParam"
                    }
                  ],
                  "description": "A piece of message content, such as text, an image, or a file.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array"
              },
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "The message content, as a single string."
              }
            ],
            "description": "The message content, as an array of content parts."
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the message item."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "role", "content"]
      },
      "MessageItemParam": {
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "required": ["type"],
            "properties": {
              "type": {
                "type": "string",
                "enum": ["message"]
              }
            }
          },
          {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AssistantMessageItemParam"
              },
              {
                "$ref": "#/components/schemas/DeveloperMessageItemParam"
              },
              {
                "$ref": "#/components/schemas/SystemMessageItemParam"
              },
              {
                "$ref": "#/components/schemas/UserMessageItemParam"
              }
            ],
            "discriminator": {
              "propertyName": "role"
            }
          }
        ]
      },
      "FunctionCallItemStatus": {
        "type": "string",
        "enum": ["in_progress", "completed", "incomplete"]
      },
      "FunctionCallItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this function tool call.",
                "example": "fc_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the function tool call generated by the model."
          },
          "type": {
            "type": "string",
            "enum": ["function_call"],
            "description": "The item type. Always `function_call`.",
            "default": "function_call"
          },
          "name": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9_-]+$",
            "description": "The name of the function to call."
          },
          "arguments": {
            "type": "string",
            "description": "The function arguments as a JSON string."
          },
          "status": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FunctionCallStatus"
                  },
                  {
                    "description": "The status of the function tool call."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "name", "arguments"]
      },
      "FunctionCallOutputItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of the function tool call output. Populated when this item is returned via API.",
                "example": "fc_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the function tool call generated by the model."
          },
          "type": {
            "type": "string",
            "enum": ["function_call_output"],
            "description": "The type of the function tool call output. Always `function_call_output`.",
            "default": "function_call_output"
          },
          "output": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "A JSON string of the output of the function tool call."
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InputTextContentParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputImageContentParamAutoParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputFileContentParam"
                    }
                  ],
                  "description": "A piece of message content, such as text, an image, or a file.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array",
                "description": "An array of content outputs (text, image, file) for the function tool call."
              }
            ],
            "description": "Text, image, or file output of the function tool call."
          },
          "status": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FunctionCallStatus"
                  },
                  {
                    "description": "The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "output"],
        "title": "Function tool call output",
        "description": "The output of a function tool call."
      },
      "CustomToolCallItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this custom tool call.",
                "example": "ctc_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the custom tool call generated by the model."
          },
          "type": {
            "type": "string",
            "enum": ["custom_tool_call"],
            "description": "The item type. Always `custom_tool_call`.",
            "default": "custom_tool_call"
          },
          "name": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9_-]+$",
            "description": "The name of the custom tool to call."
          },
          "input": {
            "type": "string",
            "description": "The input to the custom tool call."
          },
          "status": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FunctionCallItemStatus"
                  },
                  {
                    "description": "The status of the custom tool call."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "name", "input"]
      },
      "CustomToolCallOutputItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this custom tool call output.",
                "example": "ctco_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the custom tool call generated by the model."
          },
          "type": {
            "type": "string",
            "enum": ["custom_tool_call_output"],
            "description": "The item type. Always `custom_tool_call_output`.",
            "default": "custom_tool_call_output"
          },
          "output": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "A JSON string of the output of the custom tool call."
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InputTextContentParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputImageContentParamAutoParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputFileContentParam"
                    }
                  ],
                  "description": "A piece of message content, such as text, an image, or a file.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array",
                "description": "An array of content outputs (text, image, file) for the custom tool call."
              }
            ],
            "description": "Text, image, or file output of the custom tool call."
          },
          "status": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FunctionCallItemStatus"
                  },
                  {
                    "description": "The status of the custom tool call output item."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "output"]
      },
      "ApplyPatchCallStatusParam": {
        "type": "string",
        "enum": ["in_progress", "completed"],
        "title": "Apply patch call status",
        "description": "Status values reported for apply_patch tool calls."
      },
      "ApplyPatchCreateFileOperationParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["create_file"],
            "description": "The operation type. Always `create_file`.",
            "default": "create_file"
          },
          "path": {
            "type": "string",
            "minLength": 1,
            "description": "Path of the file to create relative to the workspace root."
          },
          "diff": {
            "type": "string",
            "maxLength": 10485760,
            "description": "Unified diff content to apply when creating the file."
          }
        },
        "type": "object",
        "required": ["type", "path", "diff"],
        "title": "Apply patch create file operation",
        "description": "Instruction for creating a new file via the apply_patch tool."
      },
      "ApplyPatchDeleteFileOperationParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["delete_file"],
            "description": "The operation type. Always `delete_file`.",
            "default": "delete_file"
          },
          "path": {
            "type": "string",
            "minLength": 1,
            "description": "Path of the file to delete relative to the workspace root."
          }
        },
        "type": "object",
        "required": ["type", "path"],
        "title": "Apply patch delete file operation",
        "description": "Instruction for deleting an existing file via the apply_patch tool."
      },
      "ApplyPatchUpdateFileOperationParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["update_file"],
            "description": "The operation type. Always `update_file`.",
            "default": "update_file"
          },
          "path": {
            "type": "string",
            "minLength": 1,
            "description": "Path of the file to update relative to the workspace root."
          },
          "diff": {
            "type": "string",
            "maxLength": 10485760,
            "description": "Unified diff content to apply to the existing file."
          }
        },
        "type": "object",
        "required": ["type", "path", "diff"],
        "title": "Apply patch update file operation",
        "description": "Instruction for updating an existing file via the apply_patch tool."
      },
      "ApplyPatchOperationParam": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ApplyPatchCreateFileOperationParam"
          },
          {
            "$ref": "#/components/schemas/ApplyPatchDeleteFileOperationParam"
          },
          {
            "$ref": "#/components/schemas/ApplyPatchUpdateFileOperationParam"
          }
        ],
        "title": "Apply patch operation",
        "description": "One of the create_file, delete_file, or update_file operations supplied to the apply_patch tool.",
        "discriminator": {
          "propertyName": "type"
        }
      },
      "ApplyPatchToolCallItemParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["apply_patch_call"],
            "description": "The type of the item. Always `apply_patch_call`.",
            "default": "apply_patch_call"
          },
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of the apply patch tool call. Populated when this item is returned via API.",
                "example": "apc_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the apply patch tool call generated by the model."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ApplyPatchCallStatusParam"
              },
              {
                "description": "The status of the apply patch tool call. One of `in_progress` or `completed`."
              }
            ]
          },
          "operation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ApplyPatchOperationParam"
              },
              {
                "description": "The specific create, delete, or update instruction for the apply_patch tool call."
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "call_id", "status", "operation"],
        "title": "Apply patch tool call",
        "description": "A tool call representing a request to create, delete, or update files using diff patches."
      },
      "FunctionShellActionParam": {
        "properties": {
          "commands": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "Ordered shell commands for the execution environment to run."
          },
          "timeout_ms": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Maximum wall-clock time in milliseconds to allow the shell commands to run."
              },
              {
                "type": "null"
              }
            ]
          },
          "max_output_length": {
            "anyOf": [
              {
                "type": "integer",
                "description": "Maximum number of UTF-8 characters to capture from combined stdout and stderr output."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["commands"],
        "title": "Shell action",
        "description": "Commands and limits describing how to run the shell tool call."
      },
      "FunctionShellCallItemStatus": {
        "type": "string",
        "enum": ["in_progress", "completed", "incomplete"],
        "title": "Shell call status",
        "description": "Status values reported for shell tool calls."
      },
      "FunctionShellCallItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of the shell tool call. Populated when this item is returned via API.",
                "example": "sh_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the shell tool call generated by the model."
          },
          "type": {
            "type": "string",
            "enum": ["shell_call"],
            "description": "The type of the item. Always `shell_call`.",
            "default": "shell_call"
          },
          "action": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionShellActionParam"
              },
              {
                "description": "The shell commands and limits that describe how to run the tool call."
              }
            ]
          },
          "status": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FunctionShellCallItemStatus"
                  },
                  {
                    "description": "The status of the shell call. One of `in_progress`, `completed`, or `incomplete`."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "action"],
        "title": "Shell tool call",
        "description": "A tool representing a request to execute one or more shell commands."
      },
      "FunctionShellCallOutputTimeoutOutcomeParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["timeout"],
            "description": "The outcome type. Always `timeout`.",
            "default": "timeout"
          }
        },
        "type": "object",
        "required": ["type"],
        "title": "Shell call timeout outcome",
        "description": "Indicates that the shell call exceeded its configured time limit."
      },
      "FunctionShellCallOutputExitOutcomeParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["exit"],
            "description": "The outcome type. Always `exit`.",
            "default": "exit"
          },
          "exit_code": {
            "type": "integer",
            "description": "The exit code returned by the shell process."
          }
        },
        "type": "object",
        "required": ["type", "exit_code"],
        "title": "Shell call exit outcome",
        "description": "Indicates that the shell commands finished and returned an exit code."
      },
      "FunctionShellCallOutputOutcomeParam": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/FunctionShellCallOutputTimeoutOutcomeParam"
          },
          {
            "$ref": "#/components/schemas/FunctionShellCallOutputExitOutcomeParam"
          }
        ],
        "title": "Shell call outcome",
        "description": "The exit or timeout outcome associated with this shell call.",
        "discriminator": {
          "propertyName": "type"
        }
      },
      "FunctionShellCallOutputContentParam": {
        "properties": {
          "stdout": {
            "type": "string",
            "maxLength": 10485760,
            "description": "Captured stdout output for the shell call."
          },
          "stderr": {
            "type": "string",
            "maxLength": 10485760,
            "description": "Captured stderr output for the shell call."
          },
          "outcome": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionShellCallOutputOutcomeParam"
              },
              {
                "description": "The exit or timeout outcome associated with this shell call."
              }
            ]
          }
        },
        "type": "object",
        "required": ["stdout", "stderr", "outcome"],
        "title": "Shell output content",
        "description": "Captured stdout and stderr for a portion of a shell tool call output."
      },
      "FunctionShellCallOutputItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of the shell tool call output. Populated when this item is returned via API.",
                "example": "sho_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the shell tool call generated by the model."
          },
          "type": {
            "type": "string",
            "enum": ["shell_call_output"],
            "description": "The type of the item. Always `shell_call_output`.",
            "default": "shell_call_output"
          },
          "output": {
            "items": {
              "$ref": "#/components/schemas/FunctionShellCallOutputContentParam"
            },
            "type": "array",
            "description": "Captured chunks of stdout and stderr output, along with their associated outcomes."
          },
          "max_output_length": {
            "anyOf": [
              {
                "type": "integer",
                "description": "The maximum number of UTF-8 characters captured for this shell call's combined output."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "output"],
        "title": "Shell tool call output",
        "description": "The streamed output items emitted by a shell tool call."
      },
      "ApplyPatchCallOutputStatusParam": {
        "type": "string",
        "enum": ["completed", "failed"],
        "title": "Apply patch call output status",
        "description": "Outcome values reported for apply_patch tool call outputs."
      },
      "ApplyPatchToolCallOutputItemParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["apply_patch_call_output"],
            "description": "The type of the item. Always `apply_patch_call_output`.",
            "default": "apply_patch_call_output"
          },
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of the apply patch tool call output. Populated when this item is returned via API.",
                "example": "apco_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the apply patch tool call generated by the model."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ApplyPatchCallOutputStatusParam"
              },
              {
                "description": "The status of the apply patch tool call output. One of `completed` or `failed`."
              }
            ]
          },
          "output": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "Optional human-readable log text from the apply patch tool (e.g., patch results or errors)."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "call_id", "status"],
        "title": "Apply patch tool call output",
        "description": "The streamed output emitted by an apply patch tool call."
      },
      "ScreenshotParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["screenshot"],
            "description": "Specifies the event type. Always `screenshot`.",
            "default": "screenshot"
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WaitParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["wait"],
            "description": "Specifies the event type. Always `wait`.",
            "default": "wait"
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "ClickButtonType": {
        "type": "string",
        "enum": ["left", "right", "wheel", "back", "forward"]
      },
      "ClickParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["click"],
            "description": "Specifies the event type. For a click action, this property is always `click`.",
            "default": "click"
          },
          "button": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ClickButtonType"
              },
              {
                "description": "Indicates which mouse button was pressed during the click. One of `left`, `right`, `wheel`, `back`, or `forward`."
              }
            ]
          },
          "x": {
            "type": "integer",
            "description": "The x-coordinate where the click occurred."
          },
          "y": {
            "type": "integer",
            "description": "The y-coordinate where the click occurred."
          }
        },
        "type": "object",
        "required": ["type", "button", "x", "y"],
        "title": "Click",
        "description": "A click action."
      },
      "DoubleClickParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["double_click"],
            "description": "Specifies the event type. Always `double_click`.",
            "default": "double_click"
          },
          "x": {
            "type": "integer",
            "description": "The x-coordinate where the double click occurred."
          },
          "y": {
            "type": "integer",
            "description": "The y-coordinate where the double click occurred."
          }
        },
        "type": "object",
        "required": ["type", "x", "y"]
      },
      "ScrollParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["scroll"],
            "description": "Specifies the event type. Always `scroll`.",
            "default": "scroll"
          },
          "x": {
            "type": "integer",
            "description": "The x-coordinate where the scroll occurred."
          },
          "y": {
            "type": "integer",
            "description": "The y-coordinate where the scroll occurred."
          },
          "scroll_x": {
            "type": "integer",
            "description": "The horizontal scroll distance."
          },
          "scroll_y": {
            "type": "integer",
            "description": "The vertical scroll distance."
          }
        },
        "type": "object",
        "required": ["type", "x", "y", "scroll_x", "scroll_y"]
      },
      "TypeParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["type"],
            "description": "Specifies the event type. Always `type`.",
            "default": "type"
          },
          "text": {
            "type": "string",
            "description": "The text to type."
          }
        },
        "type": "object",
        "required": ["type", "text"]
      },
      "KeyPressParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["keypress"],
            "description": "Specifies the event type. Always `keypress`.",
            "default": "keypress"
          },
          "keys": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "The keys to press."
          }
        },
        "type": "object",
        "required": ["type", "keys"]
      },
      "CoordParam": {
        "properties": {
          "x": {
            "type": "integer",
            "description": "The x-coordinate of this point in the drag path."
          },
          "y": {
            "type": "integer",
            "description": "The y-coordinate of this point in the drag path."
          }
        },
        "type": "object",
        "required": ["x", "y"]
      },
      "DragParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["drag"],
            "description": "Specifies the event type. Always `drag`.",
            "default": "drag"
          },
          "path": {
            "items": {
              "$ref": "#/components/schemas/CoordParam"
            },
            "type": "array",
            "description": "The path of the drag as a sequence of coordinates."
          }
        },
        "type": "object",
        "required": ["type", "path"]
      },
      "MoveParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["move"],
            "description": "Specifies the event type. Always `move`.",
            "default": "move"
          },
          "x": {
            "type": "integer",
            "description": "The target x-coordinate for the cursor."
          },
          "y": {
            "type": "integer",
            "description": "The target y-coordinate for the cursor."
          }
        },
        "type": "object",
        "required": ["type", "x", "y"]
      },
      "ComputerCallSafetyCheckParam": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the pending safety check."
          },
          "code": {
            "anyOf": [
              {
                "type": "string",
                "description": "The type of the pending safety check."
              },
              {
                "type": "null"
              }
            ]
          },
          "message": {
            "anyOf": [
              {
                "type": "string",
                "description": "Details about the pending safety check."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["id"],
        "description": "A pending safety check for the computer call."
      },
      "ComputerCallItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of the computer call.",
                "example": "cu_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "An identifier used when responding to the tool call with output."
          },
          "type": {
            "type": "string",
            "enum": ["computer_call"],
            "description": "The type of the computer call. Always `computer_call`.",
            "default": "computer_call"
          },
          "action": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ScreenshotParam"
              },
              {
                "$ref": "#/components/schemas/WaitParam"
              },
              {
                "$ref": "#/components/schemas/ClickParam"
              },
              {
                "$ref": "#/components/schemas/DoubleClickParam"
              },
              {
                "$ref": "#/components/schemas/ScrollParam"
              },
              {
                "$ref": "#/components/schemas/TypeParam"
              },
              {
                "$ref": "#/components/schemas/KeyPressParam"
              },
              {
                "$ref": "#/components/schemas/DragParam"
              },
              {
                "$ref": "#/components/schemas/MoveParam"
              }
            ],
            "description": "The action to perform with the computer tool.",
            "discriminator": {
              "propertyName": "type"
            }
          },
          "pending_safety_checks": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ComputerCallSafetyCheckParam"
                },
                "type": "array",
                "description": "The pending safety checks for the computer call."
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "action"]
      },
      "ComputerScreenshotParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["computer_screenshot"],
            "description": "The content type. Always `computer_screenshot`.",
            "default": "computer_screenshot"
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 20971520,
                "description": "The URL of the screenshot image."
              },
              {
                "type": "null"
              }
            ]
          },
          "file_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of an uploaded screenshot image file.",
                "example": "file-123"
              },
              {
                "type": "null"
              }
            ]
          },
          "detail": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DetailEnum"
              },
              {
                "description": "The detail level of the image to be sent to the model. One of `high`, `low`, or `auto`. Defaults to `high`."
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"],
        "title": "Input image",
        "description": "An image input to the model. Learn about [image inputs](/docs/guides/vision)"
      },
      "ComputerCallOutputItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the computer tool call output.",
                "example": "cuo_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The ID of the computer tool call that produced the output."
          },
          "type": {
            "type": "string",
            "enum": ["computer_call_output"],
            "description": "The type of the computer tool call output. Always `computer_call_output`.",
            "default": "computer_call_output"
          },
          "output": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ComputerScreenshotParam"
              },
              {
                "description": "The output of a computer tool call."
              }
            ]
          },
          "acknowledged_safety_checks": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ComputerCallSafetyCheckParam"
                },
                "type": "array",
                "description": "The safety checks reported by the API that have been acknowledged by the developer."
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FunctionCallItemStatus"
                  },
                  {
                    "description": "The status of the message input. One of `in_progress`, `completed`, or `incomplete`. Populated when input items are returned via API."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "output"],
        "title": "Computer tool call output",
        "description": "The output of a computer tool call."
      },
      "UrlSourceParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["url"],
            "description": "The source type. Always `url`.",
            "default": "url"
          },
          "url": {
            "type": "string",
            "description": "The URL source."
          }
        },
        "type": "object",
        "required": ["type", "url"]
      },
      "ApiSourceParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["api"],
            "description": "The source type. Always `api`.",
            "default": "api"
          },
          "name": {
            "type": "string",
            "description": "The name of the API source."
          }
        },
        "type": "object",
        "required": ["type", "name"]
      },
      "WebSearchCallActionSearchParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["search"],
            "description": "The action type. Always `search`.",
            "default": "search"
          },
          "query": {
            "anyOf": [
              {
                "type": "string",
                "description": "The query string used for web search."
              },
              {
                "type": "null"
              }
            ]
          },
          "queries": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "description": "The list of queries issued as part of this web search call."
              },
              {
                "type": "null"
              }
            ]
          },
          "sources": {
            "anyOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/UrlSourceParam"
                    },
                    {
                      "$ref": "#/components/schemas/ApiSourceParam"
                    }
                  ],
                  "description": "A source referenced by a web search tool call.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array",
                "description": "Sources used for the search."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WebSearchCallActionOpenPageParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["open_page"],
            "description": "The action type. Always `open_page`.",
            "default": "open_page"
          },
          "url": {
            "anyOf": [
              {
                "type": "string",
                "description": "The URL of the page to open."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WebSearchCallActionFindInPageParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["find_in_page"],
            "description": "The action type. Always `find_in_page`.",
            "default": "find_in_page"
          },
          "url": {
            "anyOf": [
              {
                "type": "string",
                "description": "The URL of the page to search within."
              },
              {
                "type": "null"
              }
            ]
          },
          "pattern": {
            "anyOf": [
              {
                "type": "string",
                "description": "The pattern to search for within the page."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WebSearchCallItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this web search tool call.",
                "example": "ws_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["web_search_call"],
            "description": "The item type. Always `web_search_call`.",
            "default": "web_search_call"
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the web search tool call."
              },
              {
                "type": "null"
              }
            ]
          },
          "action": {
            "anyOf": [
              {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebSearchCallActionSearchParam"
                  },
                  {
                    "$ref": "#/components/schemas/WebSearchCallActionOpenPageParam"
                  },
                  {
                    "$ref": "#/components/schemas/WebSearchCallActionFindInPageParam"
                  }
                ],
                "description": "The web search action performed by the tool.",
                "discriminator": {
                  "propertyName": "type"
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "ImageGenCallStatus": {
        "type": "string",
        "enum": [
          "in_progress",
          "completed",
          "incomplete",
          "generating",
          "failed"
        ]
      },
      "ImageSize": {
        "type": "string",
        "enum": ["1024x1024", "1024x1536", "1536x1024", "auto"]
      },
      "ImageBackground": {
        "type": "string",
        "enum": ["transparent", "opaque", "auto"]
      },
      "ImageQuality": {
        "type": "string",
        "enum": ["low", "medium", "high", "auto"]
      },
      "ImageOutputFormat": {
        "type": "string",
        "enum": ["png", "webp", "jpeg"]
      },
      "ImageGenCallItemParam": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of the image generation call.",
            "example": "ig_123"
          },
          "type": {
            "type": "string",
            "enum": ["image_generation_call"],
            "description": "The type of the image generation call. Always `image_gen_call`.",
            "default": "image_generation_call"
          },
          "status": {
            "anyOf": [
              {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ImageGenCallStatus"
                  },
                  {
                    "type": "string",
                    "description": "The status of the image generation call."
                  }
                ],
                "description": "The status of the image generation call."
              },
              {
                "type": "null"
              }
            ]
          },
          "created_by": {
            "anyOf": [
              {
                "type": "string",
                "description": "Identifier of the actor that created the image generation call."
              },
              {
                "type": "null"
              }
            ]
          },
          "revised_prompt": {
            "anyOf": [
              {
                "type": "string",
                "description": "The prompt that was used after any model prompt rewriting."
              },
              {
                "type": "null"
              }
            ]
          },
          "result": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 33554432,
                "description": "The generated image encoded in base64."
              },
              {
                "type": "null"
              }
            ]
          },
          "size": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ImageSize"
                  },
                  {
                    "description": "The image size used for generation."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "background": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ImageBackground"
                  },
                  {
                    "description": "The background setting used for generation."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "quality": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ImageQuality"
                  },
                  {
                    "description": "The quality setting used for generation."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "output_format": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ImageOutputFormat"
                  },
                  {
                    "description": "The output format used for generation."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["id", "type"]
      },
      "CodeInterpreterToolCallOutputLogsParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["logs"],
            "description": "The output type. Always `logs`.",
            "default": "logs"
          },
          "logs": {
            "type": "string",
            "description": "Captured logs from code execution."
          }
        },
        "type": "object",
        "required": ["type", "logs"]
      },
      "CodeInterpreterToolCallOutputImageParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["image"],
            "description": "The output type. Always `image`.",
            "default": "image"
          },
          "url": {
            "type": "string",
            "description": "The URL of the generated image."
          }
        },
        "type": "object",
        "required": ["type", "url"]
      },
      "CodeInterpreterCallItemParam": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of this code interpreter tool call.",
            "example": "ci_123"
          },
          "type": {
            "type": "string",
            "enum": ["code_interpreter_call"],
            "description": "The item type. Always `code_interpreter_call`.",
            "default": "code_interpreter_call"
          },
          "container_id": {
            "type": "string",
            "description": "The ID of the container used for code execution."
          },
          "code": {
            "type": "string",
            "description": "The code that was executed."
          },
          "outputs": {
            "anyOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CodeInterpreterToolCallOutputLogsParam"
                    },
                    {
                      "$ref": "#/components/schemas/CodeInterpreterToolCallOutputImageParam"
                    }
                  ],
                  "description": "An individual output emitted by a code interpreter tool call.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array",
                "description": "Outputs produced by the code interpreter tool call."
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the code interpreter tool call."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["id", "type", "container_id", "code"]
      },
      "FileSearchRetrievedChunksParam": {
        "properties": {
          "file_id": {
            "type": "string",
            "description": "The ID of the retrieved file."
          },
          "filename": {
            "type": "string",
            "description": "The filename of the retrieved file."
          },
          "text": {
            "type": "string",
            "description": "The retrieved text chunk."
          },
          "attributes": {
            "description": "Additional attributes associated with this chunk."
          },
          "score": {
            "anyOf": [
              {
                "type": "number",
                "description": "The relevance score for this chunk."
              },
              {
                "type": "null"
              }
            ]
          },
          "vector_store_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The vector store ID the chunk was retrieved from."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["file_id", "filename", "text", "attributes"]
      },
      "FileSearchCallItemParam": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of this file search tool call.",
            "example": "fs_123"
          },
          "type": {
            "type": "string",
            "enum": ["file_search_call"],
            "description": "The item type. Always `file_search_call`.",
            "default": "file_search_call"
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the file search tool call."
              },
              {
                "type": "null"
              }
            ]
          },
          "queries": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "The search queries issued to the file search tool."
          },
          "results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/FileSearchRetrievedChunksParam"
                },
                "type": "array",
                "description": "Retrieved chunks returned by the file search tool."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["id", "type", "queries"]
      },
      "LocalShellExecActionParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["exec"],
            "description": "The action type. Always `exec`.",
            "default": "exec"
          },
          "command": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "The command to execute, expressed as an array of strings."
          },
          "timeout_ms": {
            "anyOf": [
              {
                "type": "integer",
                "description": "The maximum time to allow for the command, in milliseconds."
              },
              {
                "type": "null"
              }
            ]
          },
          "working_directory": {
            "anyOf": [
              {
                "type": "string",
                "description": "The working directory to run the command in."
              },
              {
                "type": "null"
              }
            ]
          },
          "env": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "description": "Environment variables to set for the command."
          },
          "user": {
            "anyOf": [
              {
                "type": "string",
                "description": "The user to run the command as."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "command", "env"],
        "description": "The action to execute in the local shell."
      },
      "LocalShellCallItemStatus": {
        "type": "string",
        "enum": ["in_progress", "completed", "incomplete"]
      },
      "LocalShellCallItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this local shell tool call.",
                "example": "lsh_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the local shell tool call generated by the model."
          },
          "type": {
            "type": "string",
            "enum": ["local_shell_call"],
            "description": "The item type. Always `local_shell_call`.",
            "default": "local_shell_call"
          },
          "action": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LocalShellExecActionParam"
              },
              {
                "description": "The action to execute in the local shell."
              }
            ]
          },
          "status": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LocalShellCallItemStatus"
                  },
                  {
                    "description": "The status of the local shell tool call."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "action"]
      },
      "LocalShellCallOutputItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of the local shell tool call output. Populated when this item is returned via API.",
                "example": "lsho_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the local shell tool call generated by the model."
          },
          "type": {
            "type": "string",
            "enum": ["local_shell_call_output"],
            "description": "The type of the local shell tool call output. Always `local_shell_call_output`.",
            "default": "local_shell_call_output"
          },
          "output": {
            "type": "string",
            "maxLength": 10485760,
            "description": "A JSON string of the output of the local shell tool call."
          },
          "status": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/LocalShellCallItemStatus"
                  },
                  {
                    "description": "The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "output"]
      },
      "MCPApprovalResponseItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of the approval response.",
                "example": "mcpa_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["mcp_approval_response"],
            "description": "The type of the item. Always `mcp_approval_response`.",
            "default": "mcp_approval_response"
          },
          "approval_request_id": {
            "type": "string",
            "description": "The ID of the approval request being answered."
          },
          "approve": {
            "type": "boolean",
            "description": "Whether the request was approved."
          },
          "reason": {
            "type": "string",
            "description": "Optional reason for the decision."
          }
        },
        "type": "object",
        "required": ["type", "approval_request_id", "approve"]
      },
      "MCPApprovalRequestItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of the approval request.",
                "example": "mcpr_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["mcp_approval_request"],
            "description": "The type of the item. Always `mcp_approval_request`.",
            "default": "mcp_approval_request"
          },
          "server_label": {
            "type": "string",
            "description": "The label of the MCP server making the request."
          },
          "name": {
            "type": "string",
            "description": "The name of the tool to run."
          },
          "arguments": {
            "type": "string",
            "description": "A JSON string of arguments for the tool."
          }
        },
        "type": "object",
        "required": ["type", "server_label", "name", "arguments"]
      },
      "ItemParam": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ItemReferenceParam"
          },
          {
            "$ref": "#/components/schemas/ReasoningItemParam"
          },
          {
            "$ref": "#/components/schemas/CompactionSummaryItemParam"
          },
          {
            "$ref": "#/components/schemas/MessageItemParam"
          },
          {
            "$ref": "#/components/schemas/FunctionCallItemParam"
          },
          {
            "$ref": "#/components/schemas/FunctionCallOutputItemParam"
          },
          {
            "$ref": "#/components/schemas/CustomToolCallItemParam"
          },
          {
            "$ref": "#/components/schemas/CustomToolCallOutputItemParam"
          },
          {
            "$ref": "#/components/schemas/ApplyPatchToolCallItemParam"
          },
          {
            "$ref": "#/components/schemas/FunctionShellCallItemParam"
          },
          {
            "$ref": "#/components/schemas/FunctionShellCallOutputItemParam"
          },
          {
            "$ref": "#/components/schemas/ApplyPatchToolCallOutputItemParam"
          },
          {
            "$ref": "#/components/schemas/ComputerCallItemParam"
          },
          {
            "$ref": "#/components/schemas/ComputerCallOutputItemParam"
          },
          {
            "$ref": "#/components/schemas/WebSearchCallItemParam"
          },
          {
            "$ref": "#/components/schemas/ImageGenCallItemParam"
          },
          {
            "$ref": "#/components/schemas/CodeInterpreterCallItemParam"
          },
          {
            "$ref": "#/components/schemas/FileSearchCallItemParam"
          },
          {
            "$ref": "#/components/schemas/LocalShellCallItemParam"
          },
          {
            "$ref": "#/components/schemas/LocalShellCallOutputItemParam"
          },
          {
            "$ref": "#/components/schemas/MCPApprovalResponseItemParam"
          },
          {
            "$ref": "#/components/schemas/MCPApprovalRequestItemParam"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        },
        "x-unionDisplay": "section",
        "x-unionTitle": "Input Item Types"
      },
      "IncludeEnum": {
        "type": "string",
        "enum": [
          "file_search_call.results",
          "web_search_call.results",
          "web_search_call.action.sources",
          "message.input_image.image_url",
          "computer_call_output.output.image_url",
          "code_interpreter_call.outputs",
          "reasoning.encrypted_content",
          "message.output_text.logprobs"
        ],
        "description": "",
        "x-enumDescriptions": {
          "message.output_text.logprobs": "includes sampled logprobs in assistant messages.",
          "reasoning.encrypted_content": "includes encrypted reasoning content so that it may be rehydrated on a subsequent request."
        }
      },
      "ContainerMemoryLimit": {
        "type": "string",
        "enum": ["1g", "4g", "16g", "64g"]
      },
      "AutoCodeInterpreterToolParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["auto"],
            "description": "Always `auto`.",
            "default": "auto"
          },
          "file_ids": {
            "items": {
              "type": "string",
              "example": "file-123"
            },
            "type": "array",
            "maxItems": 50,
            "description": "An optional list of uploaded files to make available to your code."
          },
          "memory_limit": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContainerMemoryLimit"
                  },
                  {
                    "description": "The memory limit for the code interpreter container."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"],
        "title": "CodeInterpreterToolAuto",
        "description": "Configuration for a code interpreter container. Optionally specify the IDs of the files to run the code on."
      },
      "CodeInterpreterToolParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["code_interpreter"],
            "description": "The type of the tool. Always `code_interpreter`.",
            "default": "code_interpreter"
          },
          "container": {
            "oneOf": [
              {
                "type": "string",
                "example": "cntr_123"
              },
              {
                "$ref": "#/components/schemas/AutoCodeInterpreterToolParam"
              }
            ],
            "description": "The container to run code in, either by ID or as an auto-created container configuration."
          }
        },
        "type": "object",
        "required": ["type", "container"]
      },
      "FunctionToolParam": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9_-]+$"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "parameters": {
            "anyOf": [
              {
                "additionalProperties": {},
                "type": "object"
              },
              {
                "type": "null"
              }
            ]
          },
          "strict": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "enum": ["function"],
            "default": "function"
          }
        },
        "type": "object",
        "required": ["name", "type"]
      },
      "CustomTextFormatParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text"],
            "description": "Unconstrained text format. Always `text`.",
            "default": "text"
          }
        },
        "type": "object",
        "required": ["type"],
        "title": "Text format",
        "description": "Unconstrained free-form text."
      },
      "GrammarSyntax": {
        "type": "string",
        "enum": ["lark", "regex"]
      },
      "CustomGrammarFormatParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["grammar"],
            "description": "Grammar format. Always `grammar`.",
            "default": "grammar"
          },
          "syntax": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GrammarSyntax"
              },
              {
                "description": "The syntax of the grammar definition. One of `lark` or `regex`."
              }
            ]
          },
          "definition": {
            "type": "string",
            "description": "The grammar definition."
          }
        },
        "type": "object",
        "required": ["type", "syntax", "definition"],
        "title": "Grammar format",
        "description": "A grammar defined by the user."
      },
      "CustomToolParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["custom"],
            "description": "The type of the custom tool. Always `custom`.",
            "default": "custom"
          },
          "name": {
            "type": "string",
            "description": "The name of the custom tool, used to identify it in tool calls."
          },
          "description": {
            "type": "string",
            "description": "Optional description of the custom tool, used to provide more context."
          },
          "format": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CustomTextFormatParam"
              },
              {
                "$ref": "#/components/schemas/CustomGrammarFormatParam"
              }
            ],
            "description": "The input format for the custom tool. Default is unconstrained text.",
            "discriminator": {
              "propertyName": "type"
            }
          }
        },
        "type": "object",
        "required": ["type", "name"],
        "title": "Custom tool",
        "description": "A custom tool that processes input using a specified format. Learn more about   [custom tools](/docs/guides/function-calling#custom-tools)"
      },
      "ApproximateLocationParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["approximate"],
            "description": "The location type. Always `approximate`.",
            "default": "approximate"
          },
          "country": {
            "anyOf": [
              {
                "type": "string",
                "description": "The country for the approximate user location."
              },
              {
                "type": "null"
              }
            ]
          },
          "region": {
            "anyOf": [
              {
                "type": "string",
                "description": "The region or state for the approximate user location."
              },
              {
                "type": "null"
              }
            ]
          },
          "city": {
            "anyOf": [
              {
                "type": "string",
                "description": "The city for the approximate user location."
              },
              {
                "type": "null"
              }
            ]
          },
          "timezone": {
            "anyOf": [
              {
                "type": "string",
                "description": "The IANA time zone name for the approximate user location."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"],
        "description": "An approximate user location to bias web search results."
      },
      "SearchContextSize": {
        "type": "string",
        "enum": ["low", "medium", "high"]
      },
      "WebSearchToolParam": {
        "properties": {
          "user_location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ApproximateLocationParam"
              },
              {
                "description": "An approximate user location to bias web search results."
              }
            ]
          },
          "search_context_size": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SearchContextSize"
              },
              {
                "description": "How much context to retrieve and include from web search results."
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["web_search"],
            "description": "The type of the tool. Always `web_search`.",
            "default": "web_search"
          },
          "external_web_access": {
            "type": "boolean",
            "description": "Allow live internet access for web search. When false, the web search tool runs in offline/cache-only mode and will not fetch new external content."
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WebSearchToolParam_2025_08_26Param": {
        "properties": {
          "user_location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ApproximateLocationParam"
              },
              {
                "description": "An approximate user location to bias web search results."
              }
            ]
          },
          "search_context_size": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SearchContextSize"
              },
              {
                "description": "How much context to retrieve and include from web search results."
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["web_search_2025_08_26"],
            "description": "The type of the tool. Always `web_search_2025_08_26`.",
            "default": "web_search_2025_08_26"
          },
          "external_web_access": {
            "type": "boolean",
            "description": "Allow live internet access for web search. When false, the web search tool runs in offline/cache-only mode and will not fetch new external content."
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WebSearchGADeprecatedToolParam": {
        "properties": {
          "user_location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ApproximateLocationParam"
              },
              {
                "description": "An approximate user location to bias web search results."
              }
            ]
          },
          "search_context_size": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SearchContextSize"
              },
              {
                "description": "How much context to retrieve and include from web search results."
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["web_search_ga"],
            "description": "The type of the tool. Always `web_search_ga`.",
            "default": "web_search_ga"
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WebSearchPreviewToolParam": {
        "properties": {
          "user_location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ApproximateLocationParam"
              },
              {
                "description": "An approximate user location to bias web search results."
              }
            ]
          },
          "search_context_size": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SearchContextSize"
              },
              {
                "description": "How much context to retrieve and include from web search results."
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["web_search_preview"],
            "description": "The type of the tool. Always `web_search_preview`.",
            "default": "web_search_preview"
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WebSearchPreviewToolParam_2025_03_11Param": {
        "properties": {
          "user_location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ApproximateLocationParam"
              },
              {
                "description": "An approximate user location to bias web search results."
              }
            ]
          },
          "search_context_size": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SearchContextSize"
              },
              {
                "description": "How much context to retrieve and include from web search results."
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["web_search_preview_2025_03_11"],
            "description": "The type of the tool. Always `web_search_preview_2025_03_11`.",
            "default": "web_search_preview_2025_03_11"
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "ImageGenToolModel": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "string",
            "enum": ["gpt-image-1", "gpt-image-1-mini"]
          }
        ]
      },
      "InputFidelity": {
        "type": "string",
        "enum": ["high", "low"],
        "description": "Control how much effort the model will exert to match the style and features, especially facial features, of input images. This parameter is only supported for `gpt-image-1`. Unsupported for `gpt-image-1-mini`. Supports `high` and `low`. Defaults to `low`."
      },
      "ImageModeration": {
        "type": "string",
        "enum": ["auto", "low"]
      },
      "InputImageMaskContentParam": {
        "properties": {
          "image_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 20971520,
                "description": "An image mask to apply when editing, specified as an image URL."
              },
              {
                "type": "null"
              }
            ]
          },
          "file_id": {
            "anyOf": [
              {
[...]
